.uMessContainer{
    display: inline-flex;
    justify-content: right;
    align-items: center;
    border-radius: 50%;
    padding: .1rem;
}

.uMessContainer:hover{
    transform:scale(1.2);
}

.uMessage{
    height: 1rem;
    width: 1rem;
    color: white;
    font-size: .7rem;
    font-weight: 700;
    background-color: red;
    border-radius: 50%;
}
.uMessage:hover{
    height: 1.1rem;
    width: 1.1rem;
    color: white;
    font-size: .7rem;
    font-weight: 700;
    background-color: red;
    border-radius: 50%;
}

.noMess{
    display: none;
}